@mixin card-defaults {
  border: 1px solid green;
  border-radius: 5%;
  width: 100px;
  height: 140px;
}

.card {
  @include card-defaults;
  text-align: center;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 70px;
  
} 

.cardOuterDiv {
  width:110px;
  height: 150px;
}

.back {
  @include card-defaults;
  cursor: pointer;
  background-color: green;
  background-color: rgba(9, 122, 9, 0.301);
  background: 
  linear-gradient(to top left,
      rgba(9,122,9,1) 0%,
      rgba(0,0,0,0) calc(50% - 0.8px),
      rgba(0,0,0,1) 50%,
      rgba(0,0,0,0) calc(50% + 0.8px),
      rgba(9,122,9,1) 100%),
  linear-gradient(to top right,
      rgba(9,122,9,1) 0%,
      rgba(0,0,0,0) calc(50% - 0.8px),
      rgba(0,0,0,1) 50%,
      rgba(0,0,0,0) calc(50% + 0.8px),
      rgba(9,122,9,1) 100%);
}

